name: Main

on:
  push:
    branches: [ main ]
  pull_request: { }

permissions:
  contents: read

jobs:
  required-meta:
    permissions:
      contents: read
      checks: write
      pull-requests: write
    uses: BlindfoldedSurgery/actions-meta/.github/workflows/required.yml@v2

  fmt:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - run: terraform fmt -check

  validate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - run: terraform init -backend=false
      - run: terraform validate

  check-commits:
    uses: BlindfoldedSurgery/actions-releases/.github/workflows/commitizen-check.yml@v5
    with:
      build-tool: uv
      python-version: '3.14'

  bump-version:
    needs:
      - fmt
      - validate
    uses: BlindfoldedSurgery/actions-releases/.github/workflows/commitizen-bump.yml@v5
    permissions:
      contents: write
      pull-requests: write
    with:
      build-tool: uv
      python-version: '3.14'
    secrets:
      GH_TOKEN: ${{ secrets.GH_PR_TOKEN }}
